[Unit]
Description=Metal Agent E2E

[Service]
Type=simple
ExecStart=/root/metal-agent
Environment=MAXIMUM_RECONCILE_WAIT_TIME="$MAXIMUM_RECONCILE_WAIT_TIME"
Environment=BROKER="$BROKER"
Environment=CERT_FILE_PATH="$CERT_FILE_PATH"
Environment=KEY_FILE_PATH="$KEY_FILE_PATH"
Environment=NODE_ID="$NODE_ID"
Environment=ROOT_CA_PATH="$ROOT_CA_PATH"
Environment=WIREGUARD_CONFIG_FILE_PATH="$WIREGUARD_CONFIG_FILE_PATH"
Environment=WIREGUARD_KEY_PATH="$WIREGUARD_KEY_PATH"
Environment=WIREGUARD_SYSTEMD_NAME="$WIREGUARD_SYSTEMD_NAME"
Environment=ETCD_CONFIG_FILE_PATH="$ETCD_CONFIG_FILE_PATH"
Environment=ETCD_SYSTEMD_NAME="$ETCD_SYSTEMD_NAME"
Environment=HOSTS_FILE_PATH="$HOSTS_FILE_PATH"
Environment=KUBERNETES_API_SERVER_PATH="$KUBERNETES_API_SERVER_PATH"
Environment=KUBERNETES_API_SERVER_LAUNCH_SCRIPT_PATH="$KUBERNETES_API_SERVER_LAUNCH_SCRIPT_PATH"
Environment=KUBERNETES_API_SERVER_SYSTEMD_NAME="$KUBERNETES_API_SERVER_SYSTEMD_NAME"
Environment=KUBERNETES_SERVICE_ACCOUNT_SIGNING_KEY_FILE="$KUBERNETES_SERVICE_ACCOUNT_SIGNING_KEY_FILE"
Environment=KUBERNETES_SERVICE_ACCOUNT_KEY_FILE="$KUBERNETES_SERVICE_ACCOUNT_KEY_FILE"
Environment=KUBERNETES_CA_FILE_PATH="$KUBERNETES_CA_FILE_PATH"
Environment=KUBERNETES_API_SERVER_CERT_FILE="$KUBERNETES_API_SERVER_CERT_FILE"
Environment=KUBERNETES_API_SERVER_KEY_FILE="$KUBERNETES_API_SERVER_KEY_FILE"
Environment=KUBERNETES_ENCRYPTION_CONFIG_FILE="$KUBERNETES_ENCRYPTION_CONFIG_FILE"
Environment=PKI_CA_PATH="$PKI_CA_PATH"
Environment=KUBERNETES_CONTROLLER_MANAGER_PATH="$KUBERNETES_CONTROLLER_MANAGER_PATH"
Environment=KUBERNETES_CONTROLLER_MANAGER_LAUNCH_SCRIPT_PATH="$KUBERNETES_CONTROLLER_MANAGER_LAUNCH_SCRIPT_PATH"
Environment=KUBERNETES_CONTROLLER_MANAGER_SYSTEMD_NAME="$KUBERNETES_CONTROLLER_MANAGER_SYSTEMD_NAME"
Environment=KUBERNETES_CONTROLLER_MANAGER_KUBECONFIG_FILE="$KUBERNETES_CONTROLLER_MANAGER_KUBECONFIG_FILE"
Environment=KUBERNETES_CONTROLLER_MANAGER_CERT_FILE="$KUBERNETES_CONTROLLER_MANAGER_CERT_FILE"
Environment=KUBERNETES_CONTROLLER_MANAGER_KEY_FILE="$KUBERNETES_CONTROLLER_MANAGER_KEY_FILE"
Environment=KUBERNETES_SCHEDULER_PATH="$KUBERNETES_SCHEDULER_PATH"
Environment=KUBERNETES_SCHEDULER_LAUNCH_SCRIPT_PATH="$KUBERNETES_SCHEDULER_LAUNCH_SCRIPT_PATH"
Environment=KUBERNETES_SCHEDULER_SYSTEMD_NAME="$KUBERNETES_SCHEDULER_SYSTEMD_NAME"
Environment=KUBERNETES_SCHEDULER_KUBECONFIG_FILE="$KUBERNETES_SCHEDULER_KUBECONFIG_FILE"
Environment=KUBERNETES_SCHEDULER_CERT_FILE="$KUBERNETES_SCHEDULER_CERT_FILE"
Environment=KUBERNETES_SCHEDULER_KEY_FILE="$KUBERNETES_SCHEDULER_KEY_FILE"
Environment=KUBERNETES_KUBELET_PATH="$KUBERNETES_KUBELET_PATH"
Environment=KUBERNETES_KUBELET_LAUNCH_SCRIPT_PATH="$KUBERNETES_KUBELET_LAUNCH_SCRIPT_PATH"
Environment=KUBERNETES_KUBELET_SYSTEMD_NAME="$KUBERNETES_KUBELET_SYSTEMD_NAME"
Environment=KUBERNETES_KUBELET_CA_FILE="$KUBERNETES_KUBELET_CA_FILE"
Environment=KUBERNETES_KUBELET_KUBECONFIG_FILE="$KUBERNETES_KUBELET_KUBECONFIG_FILE"
Environment=KUBERNETES_KUBELET_KUBELET_CONFIG_FILE="$KUBERNETES_KUBELET_KUBELET_CONFIG_FILE"
Environment=KUBERNETES_KUBELET_CERT_FILE="$KUBERNETES_KUBELET_CERT_FILE"
Environment=KUBERNETES_KUBELET_KEY_FILE="$KUBERNETES_KUBELET_KEY_FILE"
Environment=COREDNS_PATH="$COREDNS_PATH"
Environment=COREDNS_LAUNCH_SCRIPT_PATH="$COREDNS_LAUNCH_SCRIPT_PATH"
Environment=COREDNS_SYSTEMD_NAME="$COREDNS_SYSTEMD_NAME"
Environment=COREDNS_COREFILE="$COREDNS_COREFILE"
Environment=COREDNS_CERT_FILE="$COREDNS_CERT_FILE"
Environment=COREDNS_KEY_FILE="$COREDNS_KEY_FILE"
Environment=COREDNS_KUBECONFIG_FILE="$COREDNS_KUBECONFIG_FILE"
Environment=KUBERNETES_PROXY_PATH="$KUBERNETES_PROXY_PATH"
Environment=KUBERNETES_PROXY_LAUNCH_SCRIPT_PATH="$KUBERNETES_PROXY_LAUNCH_SCRIPT_PATH"
Environment=KUBERNETES_PROXY_SYSTEMD_NAME="$KUBERNETES_PROXY_SYSTEMD_NAME"
Environment=KUBERNETES_PROXY_CONFIG_FILE="$KUBERNETES_PROXY_CONFIG_FILE"
Environment=KUBERNETES_PROXY_CERT_FILE="$KUBERNETES_PROXY_CERT_FILE"
Environment=DOWNLOADER_FILE_PATH="$DOWNLOADER_FILE_PATH"
Environment=EXTRA_DATA_FILE_PATH="$EXTRA_DATA_FILE_PATH"
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target