[Unit]
Description=etcd service

[Service]
Type=simple
ExecStart=/root/etcd --auto-tls --peer-auto-tls --config-file /root/etcd.conf
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target