[Unit]
Description=Kubernetes proxy service

[Service]
Type=simple
ExecStart=/bin/bash /root/kube-proxy.sh
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target